* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: black;
}

#root {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
  height: auto;
}

.main {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  margin-bottom: 50px;
  font-family: inherit;

  &__input {
    margin-right: 20px;
    padding: 0 10px;
    width: 300px;
    height: 30px;
    font-family: inherit;
    font-size: 16px;
    border: 0.5px solid;
    border-radius: 5px;
  }

  &__button {
    width: 100px;
    height: 30px;
    font-family: inherit;
    font-size: 16px;
    background: none;
    border: 0.5px solid;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      background-color: #f2f4f4;
    }
  }
}

.profile {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__avatar {
    margin-bottom: 10px;
  }

  &__name {
    margin-bottom: 10px;
    a {
      text-decoration: none;
      background: none;
      font-size: 30px;
    }
  }

  &__location {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  div {
    display: flex;
    justify-content: center;
  }
}
